/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
background-color: #f5f5f5;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    text-align:center;
    padding:5px 0px;
}

/* Custom FF RPG Styles
-------------------------------------------------- */
body, .container {
}
#travel-calc, #generator {
    text-align:center;
 }

.box {
    padding:15px;
    background-color: #fff;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 30px;
}

#travel-calc table {
    text-align: left;
}

#result {
    padding: 20px;
}

